.button {
  -fx-background-color: #1eff36;
  -fx-border-color: white;
  -fx-border-insets: 5;
  -fx-border-width: 3;
  -fx-border-style: solid;
}

.button:hover {
  -fx-text-fill: whitesmoke;
}
